<app-header></app-header>

<div class="container">
	<div class="row">
	<div class="form-group col-md-6">
		<p class="derecha">Plataforma digital:</p>
	</div>
	<div class="form-group col-md-5">
		<select [(ngModel)]="form.idPlataforma" class="form-control form-control-sm">
			<option *ngFor = "let plataforma of plataformas" [value]="plataforma.codigo">{{ plataforma.nombre }}</option>
		</select>
    </div>
    <div class="col-md-1">
		<button type="button" class="btn btn-sm btn-dark derecha" (click)="getEventsByPlataform()">Consultar</button>
	</div>
	</div>
	<table class="table table-bordered table-hover">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Evento</th>
	      <th scope="col">Fecha</th>
	      <th scope="col">Cantidad</th>
	      <th scope="col">Costo</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor = "let evento of eventos">
	      <th scope="row">{{ evento.evento }}</th>
	      <th>{{ evento.fecha | date:'shortDate'}}</th>
	      <td><span class="derecha">{{ evento.cantidad }}</span></td>
	      <td><span class="derecha">{{ evento.costo }}</span></td>
	    </tr>
	  </tbody>
	</table>
</div>

<app-footer></app-footer>
